<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">ThinkAgain</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/about">About</a>
    </div>
  </div>

  <div class="navbar-nav collapse navbar-collapse justify-content-end">
    <a class="nav-item nav-link" href="/register">Register</a>
    <a class="nav-item nav-link" href="/login">Login</a>
  </div>
  
</nav>
