{% extends 'layout.html' %}


{% block body %}
  <h1>Dashboard <small> Welcome {{session.username}} </small></h1>
  <a class="btn grey darken-2 waves-effect waves-light" href="/add_article">Add Article</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in articles %}
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.title}}</td>
        <td>{{article.author}}</td>
        <td>{{article.create_date}}</td>
        <td>
          <a href="edit_article/{{article.id}}" class="btn-floating grey darken-2 waves-effect waves-light">
            <i class="material-icons">edit</i>
          </a>
        </td>

        <td>
          <!-- Button trigger modal -->
          <a class="btn-floating red waves-effect waves-light" data-toggle="modal" data-target="#exampleModalCenter{{article.id}}">
            <i class="material-icons">remove</i>
          </a>
          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter{{article.id}}">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle{{article.id}}">Deleting Post Permanently</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h3>{{article.title}}??</h3>
                  <p>Are you sure?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                  <form action="{{url_for('delete_article', id=article.id)}}" method="post">
                    <input type="submit" value="Delete" class="btn btn-danger">
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- <form action="{{url_for('delete_article', id=article.id)}}" method="post"> -->
            <!-- <input type="hidden" name="_method" value="DELETE"> -->
            <!-- <input type="submit" value="Delete" class="btn btn-danger" onclick="ConfirmDelete(this)" > -->
            <!-- <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');"> -->
          <!-- </form> -->

        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
